*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html{

	overflow-x: hidden;
}
[ng\:cloak],[ng-cloak],.ng-cloak{
	display: none;
}

.showcase-img{
	position: absolute;
	top: 0px;
	z-index: -100;
	object-fit: cover;
	height: 788px;
	width: 100%;
}
.showcase{
	padding: 10rem 0rem 0rem 20rem;
}